<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>e快下</title>
    <link rel="stylesheet" href="/static/dist/css/bulma.min.css">
    <link rel="stylesheet" href="/static/index/css/index.css">
    <link rel="stylesheet" href="/static/common/css/eeyes_common.css">
    {:config('stats.head')}
</head>

<body>
    <header class="header">
        <div class="header-body">
            <div class="header-logo header-group-left">
                <a href="/"><img class="header-logo-img header-logo-down" src="/static/index/images/logo_down.png" alt=""></a>
            </div>
            <div class="header-logo header-group-right">
                <a href="http://www.eeyes.net/"><img class="header-logo-img header-logo-eeyes" src="/static/index/images/logo_eeyes.png" alt=""></a>
            </div>
        </div>
    </header>

    <aside class="notice">
        <div class="notice-body">
            <div class="notice-icon">
                <img class="notice-icon-img" src="/static/index/images/icon_notice.png" alt="提示图标">
            </div>
            <div class="notice-text-container">
                <p class="notice-text">提示：校园网下载，不消耗校园网流量 (无需登录校园网即可访问)</p>
            </div>
        </div>
    </aside>

    <div id="root">
        <aside class="action">
            <div class="action-body">
                <div class="action-login">
                    <a class="action-login-button button" @click="showLoginModal">登录</a>
                </div>
                <div class="action-comment">
                    <a class="action-comment-button button" @click="showCommentModal">留言</a>
                </div>
            </div>
        </aside>

        <aside class="search">
            <div class="search-body">
                <div class="search-text-container">
                    <input type="text" class="search-input" placeholder="软件筛选" v-model="search">
                </div>
            </div>
        </aside>

        <main class="main">
            <div class="main-body">
                <div class="notification is-danger" style="margin-top: 1.5rem" v-if="errMsg">
                    <a :href="errMsgLink" v-text="errMsg"></a>
                </div>
                <ul class="main-list-ul" v-else>
                    <li class="main-list-li" v-for="item in searchDownList">
                        <article class="main-card">
                            <div class="main-card-body">
                                <div class="main-card-header">
                                    <div class="main-card-icon">
                                        <img class="main-card-icon-img" :src="'/' + item.icon_path" alt="软件图标">
                                    </div>
                                    <h1 class="main-card-title" v-text="item.name"></h1>
                                </div>
                                <div class="main-card-content">
                                    <p class="main-card-content-text" v-text="item.description"></p>
                                </div>
                                <div class="main-card-footer">
                                    <p class="main-card-footer-version"><span v-if="item.winFile"> Win: {{ item.winFile.version }}</span><span v-if="item.macFile"> Mac: {{ item.macFile.version }}</span></p>
                                    <div class="main-card-footer-button-group">
                                        <a class="main-card-footer-button" :href="'/down/' + item.id + '/win?t=' + Date.now()" :title="readableSize(item.winFile.size)" v-if="item.winFile">
                                            <img class="main-card-footer-button-icon win" src="/static/index/images/win.png" alt="WIN版本">
                                            <span class="main-card-footer-button-text">WIN版本</span>
                                        </a>
                                        <a class="main-card-footer-button" :href="'/down/' + item.id + '/mac?t=' + Date.now()" :title="readableSize(item.macFile.size)" v-if="item.macFile">
                                            <img class="main-card-footer-button-icon mac" src="/static/index/images/mac.png" alt="MAC版本">
                                            <span class="main-card-footer-button-text">MAC版本</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </main>

        <footer class="my-footer">
            <div class="my-footer-box" @click="showModal">如果有其他需要的软件，点击这里向我们反馈</div>
        </footer>
        
        <div class="modal" :class="{'is-active': isLoginModalShow}">
            <div class="modal-background" @click="hideLoginModal"></div>
            <div class="login modal-card">
                <header class="login-header modal-card-head">
                    <div class="login-header-logo">
                        <img class="login-header-logo-img" src="/static/index/images/logo_login.png" alt="">
                    </div>
                    <div class="login-close-container">
                        <button class="delete" @click="hideLoginModal"></button>
                    </div>
                </header>
                <footer class="modal-card-foot">
                    <section class="login-body">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="login-label label">账号</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="text" placeholder="NetID">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="login-label label">密码</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" type="password" placeholder="密码">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <a class="login-button button">登录</a>
                        </div>
                    </section>
                </footer>
            </div>
        </div>

        <div class="modal" :class="{'is-active': isCommentModalShow}">
            <div class="modal-background" @click="hideCommentModal"></div>
            <div class="comment modal-content">
                <div class="comment-header">
                    <p>你想给管理员说：</p>
                </div>
                <div class="comment-body">
                    <textarea class="comment-body-content" placeholder="请留言..."></textarea>
                    <div class="comment-body-footer">
                        <span class="comment-body-footer-tips">你的建议管理大大都会认真看的哟~</span>
                        <div class="comment-body-footer-button">
                            <a class="comment-body-footer-closebutton button" @click="hideCommentModal">关闭</a>
                            <a class="comment-body-footer-submitbutton button">提交</a>
                        </div>
                    </div>
                </div>
            </div>     
        </div>

        <div class="modal" :class="{'is-active': isModalShow}">
            <div class="modal-background" @click="hideModal"></div>
            <div class="modal-content">
                <div class="box">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">反馈内容</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" v-model="content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">您的称呼</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="(选填)" v-model="name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">您的联系方式</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text" placeholder="(选填，邮箱、电话、QQ均可)" v-model="contact">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <a class="button is-success" @click="saveIssue"><span>提交</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="modal-close" @click="hideModal"></button>
        </div>
    </div>

    {include file="common@common/eeyes_common_footer" /}

    <script src="/static/dist/js/vue.min.js"></script>
    <script src="/static/dist/js/axios.min.js"></script>
    <script src="/static/index/js/index.js"></script>
    {:config('stats.body')}
</body>
</html>
